@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div style="background-color:grey;font-size:large;text-align:center">
            <b>Email Confirmation</b>
        </div>
        <div>
            <pre>
            Hello,
            
            Did you tried to reset your password?
            if yes,
            Please Click <a href="@ViewBag.ConfirmationLink">Here</a> 

            if no,
            Ignore this email

            Thank You
        </pre>
        </div>
    </div>
</body>
</html>
