<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="background-color:grey;font-size:large;text-align:center">
        <b>Email Confirmation</b>
    </div>
    <div>
        <pre>
            Hello
            
            This is the confirmation of your registration.
            Please Click <a href="@ViewBag.ConfirmationLink">Here</a> 
        </pre>
    </div>
</body>
</html>
